@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stripe in ASP.NET MVC</h1>
    <p class="lead">This project is a port of the     <a href="https://stripe.com/docs/payments/integration-builder">Stripe documentation</a> to ASP.NET MVC.</p>
    

    <p>
        <a href="/Home/Checkout" class="btn btn-primary btn-lg">Checkout &raquo;</a>
    </p>
</div>
